/*BioloGIS Website Custom CSS*/

/*General apperance*/

body {
  background-color:#D0D9DB;}


/*Gradient original fafafa:f2f2f2*/
.navbar-inner {
    background-color: #fafafa;
    background-image: linear-gradient(180deg, #fff, #B1D7DD);}



/*Image Styling*/

.floatright {
  float: right;
  margin: 10px 10px;}


.floatleft {
  float: left;
  margin: 0px 0px;}


.floatcenter {
  display: block;
  margin: auto;
  width: 50%;}